body,li, ul	{
    font-family: 'Raleway', sans-serif;
}

p, li, ul{
    text-align:justify;
    padding-bottom: 10px;
}

h1,h2,h3,h4,h5,h6{
    color: #07A9DF;
}
a:hover{
    color: #ffc705;
    text-decoration: none;
}

.jumbotron, .jumbotron-fluid
{
    font-family: 'Raleway', sans-serif;
}

.tituloHorario{
    font-size: 20px;
    font-weight: bold;
    color: #07A9DF;
}

.navPrimero{
    padding:10px;
}
.navSegundo{
    padding:10px;
    text-align: center;
}

.menu{
    color: black;
    height: 100%;
    font-size: 20px;
    text-align: center;
    margin-left:20px;
    margin-right:20px;
}

.footerNew{
    background-color: #f8f9fa;
}

.contenido{

    background-color: #f8f9fa;
    padding: 50px;
}
.contenidoBlanco{

    background-color: white;
    padding: 50px;
}

.cuadroDiscontinuo{
	border: 2px solid #fac502;
    border-style: dashed;
    border-radius: 49px;
    padding: 20px;

}

.contenido2{

    background-color: #07A9DF;
    padding: 50px 5px 50px 5px;
}

.tituloPrincipal{
    color: #07A9DF;
    font-weight: bold;
    padding-bottom: 30px;
}

.cardTitulo{
    background-color: #07A9DF;
}
.cartText{
    color: white;
    font-weight: 600;
    text-decoration: none;
}


.subtitulo{
    color: #07A9DF;
    font-weight: bold;
    padding-bottom: 20px;
}

.btn-link:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

.recuadro{
    background-color: #07A9DF;
    padding: 20px;
    color: white !important;
    text-align:center;
}

.imagen{
	max-width: 50%;
    width: 300px;
    margin: auto;
    display: block;
}

.carousel{
	color: #07A9DF;
    font-weight: bold;
}
.accordion>.card .card-header{
	background: white;
	text-align: center;
}

.sliderPalabras{
   background-color: #07A9DF;
   text-align: center;
   font-size: 1,8vw;
   color: white;
   padding: 50px;
}
.recuadro2{
    background-color: #ffc107;
    padding: 20px;
    color: white !important;
    text-align: center;
}

.menuItems{
    color: #07A9DF;
    font-weight: 500;
}
