        <div class="camera_container">
          <div id="camera" class="camera_wrap">
            <div data-src="images/prevenir/banners/banner1.png">
                 <!-- <div class="camera_caption fadeIn">
                    <div class="jumbotron jumbotron1">
                      <em>
                        SUCCESS
                      </em>
                      <div class="wrap">
                        <p>
                          Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do<span> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>.
                        </p>
                        <a href="#" class="btn-link fa-angle-right"></a>
                      </div>  
                    </div>
                  </div> -->
            </div>
            <div data-src="images/prevenir/banners/banner2.png">
              <div class="camera_caption fadeIn">
               <!-- <div class="jumbotron jumbotron2">
                  <em>
                    quality
                  </em>
                  <div class="wrap">
                    <p>
                      Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do<span> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>.
                    </p>
                    <a href="#" class="btn-link hov_prime fa-angle-right"></a>
                  </div>  
                </div> -->
              </div>
            </div>
            <<div data-src="images/prevenir/banners/banner3.png">
           <!--   <div class="camera_caption fadeIn">
                <div class="jumbotron">
                  <em>
                    SOLUTIONS
                  </em>
                  <div class="wrap">
                    <p>
                      Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do<span> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>.
                    </p>
                    <a href="#" class="btn-link fa-angle-right"></a>
                  </div>  
                </div>
              </div> -->
            </div>
                        <<div data-src="images/prevenir/banners/banner4.png">
           <!--   <div class="camera_caption fadeIn">
                <div class="jumbotron">
                  <em>
                    SOLUTIONS
                  </em>
                  <div class="wrap">
                    <p>
                      Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do<span> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>.
                    </p>
                    <a href="#" class="btn-link fa-angle-right"></a>
                  </div>  
                </div>
              </div> -->
            </div>
            <<div data-src="images/prevenir/banners/banner5.png">
           <!--   <div class="camera_caption fadeIn">
                <div class="jumbotron">
                  <em>
                    SOLUTIONS
                  </em>
                  <div class="wrap">
                    <p>
                      Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do<span> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>.
                    </p>
                    <a href="#" class="btn-link fa-angle-right"></a>
                  </div>  
                </div>
              </div> -->
            </div>
          </div>
        </div>
      